# mydumper configuration
dumper.database=backup_test
dumper.chunk-size=5
#dumper.table-list=a,b,c,d
#dumper.outdir=./data
#dumper.statement-size=1000000
#dumper.rows=100

# mysql configuration
dumper.mysql.host=rm-bp1j1g6l45i6vcq23co.mysql.rds.aliyuncs.com
dumper.mysql.username=dev
dumper.mysql.password=VoKMmIjY3YZm7cRV
dumper.mysql.port=3306

# minio configuration
minio.ip=118.25.130.227
minio.port=9000
minio.access-key=AKIAIOSFODNN7EXAMPLE
minio.secret-key=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY